<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="icon" type="image/x-icon" href="/assets/css/contact-list.jpg">
     <script  src="https://kit.fontawesome.com/b3348ae33f.js"
      crossorigin="anonymous"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>  
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'></link>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>  
  <link rel="stylesheet" href="/css/my.css">  
</head>
<body>
    <div id="main-div">
      <div id="head"><h1>TODO App</h1><hr></div>
      <!--Task submissin form-->
      <div><form action="/enteredtask" method="POST" id="my-form">
        <label for="task" class="commonsettingforlabel">DESCRIPTION</label><br>
        <input type="text" id="task" name="name" placeholder="What do you need to do?" id="task" class="commonsettingforinput" required>
        <div><hr></div>
        <div id="neighbourinput">
        <div class="inputdiv">
        <label for="category" class="commonsettingforlabel">CATEGORY</label><br>
        <input type="text" list="category" class="commonsettingforinput" name="category" placeholder="Choose a category" required>
        <datalist id="category">
          <option>Personal</option>
          <option>Office</option>
          <option>Home</option>
          <option>Cleaning</option>
          <option>Other</option>
        </datalist></div><div id="vl"></div>
        <div class="inputdiv">
          <label for="date" class="commonsettingforlabel" class="duedate">DUE DATE</label><br>
          <input type="date" id="date" class="commonsettingforinput" name="date" class="duedate" required>
        </div>
      </div><div id="my-hr"><hr></div>
      <div id="addanddelete">
        <button type="submit" id="add"><span class="icon"><i class="fa-solid fa-plus" ></i></span>ADD TASK</button>
      <button  type="button" id="delete"><span class="icon"><i class="fa-solid fa-trash-can"></i>
      </span>DELETE TASK</button>
      </div><div><hr></div></form>
      </div>
      <div>
        <!----List of tasks-->
        <ul class="tasklist">
          <%for(let i of tasks){ %>
            <li>
              <input type="checkbox" class="taskdelete" name="taskdelete" value="<%=i._id%>">
              <label for="taskdelete"><span><span class="taskdescription"><%=i.name%></span><br>
                <span class="taskdate"><i class="fa-regular fa-calendar-days">
                <span class="dateinnumber"><%=i.date.toLocaleDateString("en-US")%></span>
              </i></span></span><div class="taskcategory"><%=i.category%></div></label>
                <div class="bottomlineoftasks"><hr></div>
            </li>
            <%}%>
        </ul>
      </div>
    </div>
    <script type="text/javascript" src="/js/my.js"></script>
</body>
</html>